.pedidos{
  height: 15vh;
  width: 60vh;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 33% 34% 33%;
  border: solid 1px #000000;
}
.cantidad{
  height: 100%;
  width: 100%;
  font-size: 4px;
  border: solid 1px #000000;
}
.orden{
  height: 100%;
  width: 100%;
  font-size: 4px;
  border: solid 1px #000000;
}
.precio{
  height: 100%;
  width: 100%;
  font-size: 4px;
  border: solid 1px #000000;
}